@font-face {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 100;
 src: 
   url("../font/roboto-100.woff2") format("woff2"),
   url("../font/roboto-100.woff") format("woff");
}

@font-face {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 300;
 src: 
   url("../font/roboto-300.woff2") format("woff2"),
   url("../font/roboto-300.woff") format("woff");
}

@font-face {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 src: 
   url("../font/roboto-regular.woff2") format("woff2"),
   url("../font/roboto-regular.woff") format("woff");
}

@font-face {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 500;
 src: 
   url("../font/roboto-500.woff2") format("woff2"),
   url("../font/roboto-500.woff") format("woff");
}

@font-face {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 700;
 src: 
   url("../font/roboto-700.woff2") format("woff2"),
   url("../font/roboto-700.woff") format("woff");
}

@font-face {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 900;
 src: 
   url("../font/roboto-900.woff2") format("woff2"),
   url("../font/roboto-900.woff") format("woff");
}

body {
  font-family: "Roboto", Fallback, sans-serif;
}

.illustration {
  opacity: 0.6;
}
