@font-face {
 font-family: "Roboto";
 font-style: normal;
 font-weight: 400;
 src: 
   url("../font/roboto-regular.woff2") format("woff2"),
   url("../font/roboto-regular.woff") format("woff");
}

body {
  font-family: "Roboto", Fallback, sans-serif;
}

.illustration {
  opacity: 0.6;
}
